In [1]:
import struct
import os

import numpy as np
import pandas as pd

import tensorflow as tf
from tensorflow.keras import datasets, layers, models

In [3]:
ECG_data = []

for idx in range(1, 81) : #0~89까지 bin file 순회
    data_path = os.path.join('ECG_' + str(idx) + '.bin') #file 경로 지정
    with open(data_path, "rb") as f : # .bin file을 os 함수를 이용하여 rb로 open
        data = np.frombuffer(f.read(), dtype=np.float16) # bin file 내용 저장
    data = np.append(data, np.array([0]*(5051128 - len(data)))) # 길이가 짧은 것들은 0으로 채우기
    ECG_data.append(data) # dataframe을 만들기 위해 data를 ECG_data에 추가

    f.close() #읽은 .bin file close
    
df_col = [i for i in range(0, 5051128)] #dataframe의 column

ECG = pd.DataFrame(columns = df_col)

for i in range(0, 80) :
    ECG.loc[i] = ECG_data[i]
ECG

,0,1,2,3,4,5,6,7,8,9,...,5051118,5051119,5051120,5051121,5051122,5051123,5051124,5051125,5051126,5051127
0,0.000012,0.002014,0.000856,0.031860,0.000187,0.000015,0.00174,0.009781,0.131958,0.324463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000012,0.002014,0.001469,0.635254,0.000187,0.000015,0.00174,0.009781,0.131958,0.324463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000012,0.002014,0.001469,0.382812,0.000191,0.000015,0.00174,0.009781,0.131958,0.324463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000012,0.002014,0.000061,0.000063,0.000185,0.000015,0.00174,0.009781,0.131958,0.324463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000012,0.002014,0.001713,0.009918,0.000187,0.000015,0.00174,0.009781,0.131958,0.324463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,0.000012,0.002014,0.019623,0.000155,0.000189,0.000015,0.00174,0.009781,0.131958,0.324463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
76,0.000012,0.002014,0.019623,0.000032,0.000191,0.000015,0.00174,0.009781,0.131958,0.324463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77,0.000012,0.002014,0.023529,0.504395,0.000184,0.000015,0.00174,0.009781,0.131958,0.324463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78,0.000012,0.002014,0.023529,0.000500,0.000187,0.000015,0.00174,0.009781,0.131958,0.324463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,0.000012,0.002014,0.027435,0.000077,0.000191,0.000015,0.00174,0.009781,0.131958,0.324463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
ECG_data = []

for idx in range(1, 81) : #0~89까지 bin file 순회
    data_path = os.path.join('ECG_' + str(idx) + '.bin') #file 경로 지정
    with open(data_path, "rb") as f : # .bin file을 os 함수를 이용하여 rb로 open
        data = np.frombuffer(f.read(), dtype=np.float16) # bin file 내용 저장
    
    ECG_data.append(np.array(data))

In [3]:
def replace_nan_with_mean(arr):
    nan_indices = np.isnan(arr)
    
    if nan_indices[0]:
        arr[0] = arr[1]
    
    if nan_indices[-1]:
        arr[-1] = (arr[-2] + arr[-3]) / 2
    
    for i in range(1, len(arr) - 1):
        if nan_indices[i]:
            arr[i] = (arr[i-1] + arr[i-2]) / 2
    
    return arr

In [6]:
for i in range(0, 80) :
    ECG_data[i] = replace_nan_with_mean(ECG_data[i])

In [7]:
for i in range(0, 80) :
    print(np.isnan(ECG_data[i]))

[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]

In [40]:
movie_feel = pd.read_csv('./movies.csv')

In [41]:
scores = pd.read_csv('./score.csv')

In [42]:
movie_feel

      First   Second    Third   Fourth    Fifth    Sixth
0   neutral  disgust     fear      sad    happy    anger
1     anger  disgust  neutral    happy      sad     fear
2     happy  neutral    anger      sad  disgust     fear
3   disgust    happy      sad    anger  neutral     fear
4   neutral    anger  disgust    happy      sad     fear
..      ...      ...      ...      ...      ...      ...
84  neutral      sad    happy     fear  disgust    anger
85    anger      sad  neutral     fear    happy  disgust
86      sad    anger  disgust     fear  neutral    happy
87  disgust      sad    anger    happy     fear  neutral
88    happy  neutral    anger  disgust     fear      sad

[89 rows x 6 columns]

In [44]:
scores

,Video1_neutral,Video1_fear,Video1_sad,Video1_happy,Video1_anger,Video1_disgust,Video2_neutral,Video2_fear,Video2_sad,Video2_happy,...,Video5_sad,Video5_happy,Video5_anger,Video5_disgust,Video6_neutral,Video6_fear,Video6_sad,Video6_happy,Video6_anger,Video6_disgust
0,7,1,1,5,1,1,1,5,1,1,...,1,6,1,1,1,1,1,1,6,3
1,1,3,3,1,6,6,1,3,3,1,...,6,1,2,1,4,4,1,1,1,1
2,1,1,1,4,1,1,4,1,1,1,...,1,1,1,5,1,7,1,1,1,1
3,1,5,1,1,1,7,1,1,1,4,...,1,1,1,1,1,7,1,1,1,1
4,6,1,1,1,1,1,1,1,1,1,...,3,1,1,1,7,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,7,1,1,1,1,1,4,1,3,1,...,1,1,1,6,4,1,1,1,4,1
85,1,2,4,1,6,1,1,1,4,1,...,1,5,1,1,1,1,1,1,1,3
86,2,1,7,1,1,1,1,2,7,1,...,1,3,1,1,4,1,1,6,1,2
87,1,1,2,1,4,3,1,1,4,1,...,1,1,1,1,4,1,1,1,1,1
88,2,1,1,4,1,1,6,1,1,1,...,1,1,1,1,2,1,4,1,1,1

In [48]:
퍄scores[['Video1_neutral', 'Video1_fear', 'Video1_sad', 'Video1_happy', 'Video1_anger', 'Video1_disgust']]
scores[['Video2_neutral', 'Video2_fear', 'Video2_sad', 'Video2_happy', 'Video2_anger', 'Video2_disgust']]
scores[['Video3_neutral', 'Video3_fear', 'Video3_sad', 'Video3_happy', 'Video3_anger', 'Video3_disgust']]
scores[['Video4_neutral', 'Video4_fear', 'Video4_sad', 'Video4_happy', 'Video4_anger', 'Video4_disgust']]
scores[['Video5_neutral', 'Video5_fear', 'Video5_sad', 'Video5_happy', 'Video5_anger', 'Video5_disgust']]
scores[['Video6_neutral', 'Video6_fear', 'Video6_sad', 'Video6_happy', 'Video6_anger', 'Video6_disgust']]

,Video1_neutral,Video1_fear,Video1_sad,Video1_happy,Video1_anger,Video1_disgust
0,7,1,1,5,1,1
1,1,3,3,1,6,6
2,1,1,1,4,1,1
3,1,5,1,1,1,7
4,6,1,1,1,1,1
...,...,...,...,...,...,...
84,7,1,1,1,1,1
85,1,2,4,1,6,1
86,2,1,7,1,1,1
87,1,1,2,1,4,3
88,2,1,1,4,1,1

In [9]:
from tensorflow.keras.layers import Flatten, Dense, Conv1D, MaxPool1D, Dropout

cnn_model = tf.keras.models.Sequential()
#First CNN layer  with 32 filters, conv window 3, relu activation and same padding
cnn_model.add(Conv1D(filters=32, kernel_size=(3,), padding='same', activation=tf.keras.layers.LeakyReLU(alpha=0.001), input_shape = (X_train.shape[1],1)))
#Second CNN layer  with 64 filters, conv window 3, relu activation and same padding
cnn_model.add(Conv1D(filters=64, kernel_size=(3,), padding='same', activation=tf.keras.layers.LeakyReLU(alpha=0.001)))
#Third CNN layer with 128 filters, conv window 3, relu activation and same padding
cnn_model.add(Conv1D(filters=128, kernel_size=(3,), padding='same', activation=tf.keras.layers.LeakyReLU(alpha=0.001)))
#Fourth CNN layer with Max pooling
cnn_model.add(MaxPool1D(pool_size=(3,), strides=2, padding='same'))
cnn_model.add(Dropout(0.5))
#Flatten the output
cnn_model.add(Flatten())
#Add a dense layer with 256 neurons
cnn_model.add(Dense(units = 256, activation=tf.keras.layers.LeakyReLU(alpha=0.001)))
#Add a dense layer with 512 neurons
cnn_model.add(Dense(units = 512, activation=tf.keras.layers.LeakyReLU(alpha=0.001)))
#Softmax as last layer with five outputs
cnn_model.add(Dense(units = 5, activation='softmax'))

NameError: name 'X_train' is not defined

In [ ]:
cnn_model.compile(optimizer='adam', loss = 'sparse_categorical_crossentropy', metrics=['accuracy'])

In [ ]:
cnn_model.summary()

In [ ]:
cnn_model_history = cnn_model.fit(X_train, y_train, epochs=10, batch_size = 10, validation_data = (X_test, y_test))

In [ ]:
plt.plot(cnn_model_history.history['accuracy'])
plt.plot(cnn_model_history.history['val_accuracy'])
plt.legend(["accuracy","val_accuracy"])
plt.title('Accuracy Vs Val_Accuracy')
plt.xlabel('Epoch')
plt.ylabel('Accuracy')

In [ ]:
plt.plot(cnn_model_history.history['loss'])
plt.plot(cnn_model_history.history['val_loss'])
plt.legend(["loss","val_loss"])
plt.title('Loss Vs Val_loss')
plt.xlabel('Epoch')
plt.ylabel('Loss')